.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.27);
  transition: 500ms linear;

  &.fade-enter {
    opacity: 0;
  }

  &.fade-enter-active {
    opacity: 1;
  }

  &.fade-exit {
  }

  &.fade-exit-active {
    opacity: 0;
  }
}