.burger {
  padding: 10px;
  cursor: pointer;
}

.burger__inner {
  width: 26px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger__line {
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 1);
}
