.header {

}

.header__inner {
  height: 100px;
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 5px;
}

.header__aside {
  margin-left: auto;
}

.header__burger {
  display: block;

  @include respond-to('medium') {
    display: none;
  }
}

.header__menu {
  display: none;

  @include respond-to('medium') {
    display: flex;
  }
}
