.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .copyrighted {
    padding: 20px 0;
    background-color: #000;
  }

  .copyrighted__content {
    color: rgb(186, 186, 186);
    font-size: 12px;
    line-height: 1.6;
  }
}
