.menu {
  display: flex;
}

.menu__item {
  padding: 0 5px;
}

.menu-item {
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  color: #333;
  cursor: pointer;

  &::after {
    content: '';
    width: 0;
    height: 1px;
    bottom: -1px;
    left: 0;
    position: absolute;
    display: block;
    background-color: #00b19e;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.075);
  }

  &:hover::after {
    width: 100%;
  }

  &--active::after {
    width: 100%;
  }
}