.page-home {
  flex: 1;

  .hero {
    img {
      width: 100%;
    }
  }

  .hero__inner {}

  .social {
    padding: 60px 0;
    background-color: #000;
  }

  .social__inner {}

  .social__title {
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 24px;
    text-align: center;
    color: #fff;

    a {
      color: #00b19e;
      text-decoration: none;
      position: relative;

      &::after {
        content: '';
        width: 0;
        height: 2px;
        bottom: -5px;
        left: 0;
        position: absolute;
        display: block;
        background-color: #00b19e;
        transition: all .3s cubic-bezier(.175, .885, .32, 1.075);
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .social-instagram-feed {
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
  }

  .social-instagram-feed__item {
    padding: 10px;
    flex: 1 0 50%;

    @include respond-to('medium') {
      flex: 1 0 33.333%;
    }
  }

  .social-instagram-feed-item {
    position: relative;
    display: flex;

    &::before {
      content: "";
      padding-top: 100%;
      width: 100%;
      display: block;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  .intro {
    padding: 60px 0;
  }

  .intro_inner {}

  .intro-story {
    display: flex;
  }

  .intro-story__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include respond-to('medium') {
      padding: 20px;
      flex: 1 0 45%;
    }

    @include respond-to('large') {
      flex: 1 0 40%;
    }
  }

  .intro-story__title {
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
    color: #00b19e;
  }

  .intro-story__text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #333;
  }

  .intro-story__link {
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    font-size: 18px;
    color: #00b19e;
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: 2px;
      bottom: -5px;
      left: 0;
      position: absolute;
      display: block;
      background-color: #00b19e;
      transition: all .3s cubic-bezier(.175, .885, .32, 1.075);
    }

    &:hover::after {
      width: 100%;
    }
  }

  .intro-story__image {
    display: none;

    img {
      width: 100%;
    }

    @include respond-to('medium') {
      padding-left: 20px;
      flex: 1 0 55%;
      display: flex;
    }

    @include respond-to('large') {
      flex: 1 0 60%;
    }
  }
}
