.rail {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff;
  z-index: 5;
  will-change: transform;
  transform: translateZ(0);
  transition: 500ms cubic-bezier(.23,1,.32,1);

  &.slide-enter {
    transform: translate3d(-100%, 0, 0);
  }

  &.slide-enter-active {
    transform: translate3d(0, 0, 0);
  }

  &.slide-exit {
    transform: translate3d(0, 0, 0);
  }

  &.slide-exit-active {
    transform: translate3d(-100%, 0, 0);
  }
}