.side-menu {
  padding: 30px 0;
  max-width: 290px;
  overflow: auto;
}

.side-menu__content {
  display: flex;
  flex-direction: column;
}

.side-menu-item {
  padding: 20px;
  transition: background-color 0.15s ease-in-out 0s;
  color: #333;
  text-decoration: none;

  &:hover {
    background-color: rgba(247, 247, 247, 1);
  }
}
