//@import "reset";

@import "font/index";
//@import "mixins/index";

//@import "components/layout";
//@import "components/container";
//@import "components/header";
//@import "components/side-menu";
//@import "components/menu";
//@import "components/backdrop";
//@import "components/burger";
//@import "components/logo";
//@import "components/rail";

//@import "components/page-home";
//@import "components/page-menu";

//html, body, #__next {
//  height: 100%;
//}
//
//body {
//  font-family: 'Gotham Pro', Arial, sans-serif;
//}
//
//body.locked {
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  position: fixed;
//  overflow: hidden;
//}
//
//* {
//  box-sizing: border-box;
//}

body {}