@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothamPro-Medium.woff2') format('woff2'),
  url('/static/fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothamPro-MediumItalic.woff2') format('woff2'),
  url('/static/fonts/GothamPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothamPro-LightItalic.woff2') format('woff2'),
  url('/static/fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothamPro-Italic.woff2') format('woff2'),
  url('/static/fonts/GothamPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothamPro-Light.woff2') format('woff2'),
  url('/static/fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothamPro-Bold.woff2') format('woff2'),
  url('/static/fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothamPro-BoldItalic.woff2') format('woff2'),
  url('/static/fonts/GothamPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/static/fonts/GothamPro.woff2') format('woff2'),
  url('/static/fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

