@mixin media($queries) {
  @media #{inspect($queries)} {
    @content;
  }
}

@mixin respond-to($breakpoint) {
  $breakpoints: (
    'small': (min-width: 768px),
    'medium': (min-width: 1024px),
    'large': (min-width: 1280px)
  );


  $queries: map-get($breakpoints, $breakpoint);

  @include media($queries) {
    @content;
  }
}